.header-card img {
    height: 100vh; /* Set the height of the image to the viewport height */
    object-fit: cover; /* Ensure the image covers the container without distortion */
    width: 100%; /* Ensure the image spans the full width of the container */
  }
  